body {
  margin: 0;
  padding: 24px;
  font-family: 'Muli', sans-serif;
  background-color: $purple-dark;
  * {
    box-sizing: border-box;
  }
}

.template {
  display: none;
}

.container {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
  display: flex;
  @media only screen and (min-width: $xs) {
    width: 770px;
  }
  @media only screen and (min-width: $sm) {
    width: 990px;
  }
  @media only screen and (min-width: $md) {
    width: 1270px;
  }
}
