.projects {
  flex: 2;
  margin-right: 12px;
  color: $white;
  padding: 12px;
  h2 {
    margin: 8px;
    text-align: center;
  }
  hr {
    border: 0.3px solid $white;
    margin: 16px 0;
  }
  .project {
    background: $purple;
    border-radius: 6px;
    margin-bottom: 12px;
    padding: 12px;
    cursor: pointer;
    @keyframes select {
      from { 
        background: $purple;
        color: $white;
      }
      to {
        background: $white;
        color: $purple;
      }
    }
    h3 {
      margin: 0;
    }
    p {
      margin: 0;
    }
    &:last-child {
      margin: 0;
    }
    &.active {
      background: $white;
      color: $purple-dark;
      animation-name: select;
      animation-duration: 0.7s;
    }
  }
  #new-project {
    display: flex;
    align-items: center;
    .fa-plus {
      margin-right: 12px;
    }
  }
}