.tasks {
  flex: 4.5;
  padding: 12px;
  h2 {
    margin: 8px;
    text-align: center;
    color: $white;
  }
  hr {
    border: 0.3px solid $white;
    margin: 16px 0;
  }
  .task {
    background: $purple;
    border-radius: 6px;
    margin-bottom: 12px;
    padding: 16px 12px;
    color: $white;
    display: flex;
    align-items: center;
    h3 {
      margin: 0;
    }
    .fa-arrow-down {
      background: $purple-dark;
      line-height: 22px;
      padding: 4px;
      font-size: 18px;
      border-radius: 6px;
      height: 30px;
      width: 30px;
      text-align: center;
      margin-left: auto;
    }
    &.high {
      border-bottom: 4px solid $redish;
    }
    &.medium {
      border-bottom: 4px solid $orange;
    }
    &.low {
      border-bottom: 4px solid $cyan;
    }
  }
  #new-task {
    border: none;
    .fa-plus {
      margin-right: 12px;
    }
  }
}