// Colors
$black: #000;
$white: #fff;
$purple: #593fa6;
$purple-dark: #422f7c;
$orange: #fca311;
$orange-light: #ffbf69;
$blue: #00a8e8;
$cyan: #45f9de;
$redish: #ff2d65;
$green: #07b51e;

// Sizes
$xs: 768px;
$sm: 992px;
$md: 1200px;
